@{
    ViewData["Title"] = "Home Page";
}

<h1>Git Çalışmaları</h1>
<p>Miray ile birlikte konu tekrarı için oluşturuduğumuz proje</p>
<p>Kontrol denemeleri yapıyoruz</p>

<summary>Ben Miray. Deneme yapmak için metin oluşturuyorum.</summary>
<p>Deneme metni</p>
